.centrado{
	    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.form{
	    padding: 5% 0%;
}

#formulario{
    margin: -6% 24%;
	font-size: 15px;
	background-color: white;
	color:black;
	border-top:5px solid #709FD7;
}
#formulario ,.row,.col-4,.col-8{
	padding: 0;
}
#formulario *{
	padding-bottom: 5px;
}
#formulario span{
	color: red;
	margin-right: 10px;
}
#formulario input{
	height: 25px;
	width: 70%;
	margin-right: 20px;
}
#formulario textarea{
	height: 60px;
	width: 70%;
	margin-right: 6%;
}
#formulario button{
	color:white;
	background-color:#74A3DB;
	border:none;
	padding:10px 15px; 
}
#formulario a{
	display: inline-block;
	height: 20px;
	margin-right: 15px;

}

@media screen and (max-width: 639px){

	
	.form{
		padding: 22% 0%;
	}
	.row{
		width: 100%;
	}

	#formulario {
		width: 90%;
		margin:0 auto;
	}

	#formulario *{
		width: 100%;
	}
	#formulairo h1{
		font-size: 10px;
	}
	#formulario input{
	height: 25px;
	width: 100%;
	margin-right: 20px;
	}

}